.text{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 120px;
    margin-left: 350px;
    display: inline-block;
  }
  a{
    text-decoration: none;
  }
  .list{
    color: rgb(245, 237, 237);
    font-size: 20px;
    margin-left: 465px;
    margin-top: -99px;
  }
  .circle{
    color: aliceblue;
    background-color: rgb(219, 48, 48);
    width:35px ;
    height: 35px;
    border-radius: 50%;
    margin-left: 800px;
    margin-top: -65px;
}
.plus{
    color: rgb(254, 254, 255);
    font-size: 30px;
    margin-left: 9px; 
  }
  .box{
      color: coral;
      height: 250px;
      width: 160px;
     
      border: 1px solid rgb(228, 84, 84);
      font-size: large;
      margin-top: 50px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgb(107, 101, 101);
      margin-left: 150px;
  }
  .line{
      width: 120px;
      margin-left: 38px;
      font-weight: bolder;
  }
  .red{
      color: rgb(230, 53, 53);
      font-size: 20px;
      font-weight: bold;
      text-decoration: line-through;
      margin-left: 10px;
  }
  .check{
     color: black;
     font-size: 18px;
     margin-top: 5px;
     margin-left: -30px;
  }
  .size{
      color: coral;
      height: 250px;
      width: 160px;
      border: 1px solid rgb(228, 84, 84);
      font-size: large;
      margin-top: 50px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgb(107, 101, 101);
      margin-left: 365px;
      margin-top: -255px;
  }
  .place{
      color: coral;
      height: 250px;
      width: 160px;
      border: 1px solid rgb(228, 84, 84);
      font-size: large;
      margin-top: 50px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgb(107, 101, 101);
      margin-left: 575px;
      margin-top: -255px;
  }
  .pl{
    color: coral;
      height: 250px;
      width: 160px;
      border: 1px solid rgb(228, 84, 84);
      font-size: large;
      margin-top: 50px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgb(107, 101, 101);
      margin-left: 775px;
      margin-top: -255px;
  }
  .pla{
    color: coral;
      height: 250px;
      width: 160px;
      border: 1px solid rgb(228, 84, 84);
      font-size: large;
      margin-top: 50px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgb(107, 101, 101);
      margin-left: 975px;
      margin-top: -255px;
  }
  .word{
    color: rgb(247, 239, 239);
    font-size: 25px;
    margin-left: 840px;
    margin-top: -30px;
}
@media (max-width:700px) {
    .text{
        font-size: medium;
        font-family: Arial;
        margin-top: 120px;
        margin-left: 350px;
        display: inline-block;
      }
    a{
        text-decoration: none;
      }
    .list{
        color: rgb(245, 237, 237);
        font-size: 15px;
        margin-left: 465px;
        margin-top: -77px;
      }
    .circle{
        color: aliceblue;
        background-color: rgb(219, 48, 48);
        width:25px ;
        height: 25px;
        border-radius: 50%;
        margin-left: 550px;
        margin-top: -50px;
    }
    .plus{
        color: rgb(254, 254, 255);
        font-size: 23px;
        margin-left: 7px; 
      }
      .word{
        color: white;
        font-size: 25px;
        margin-left: 585px;
        margin-top: -30px;
    }
    .line{
        color: white;
        margin-left: 120px;
        display: none;
    }
    .red{
        color:red;
        display: none;
    }
    .check{
       color: white;
       display: none;
    }
    .checkbox{
        color: white;
        display: none;
    }
    .box{
          color: coral;
          height: 70px;
          width: 360px;
          border: 1px solid rgb(228, 84, 84);
          font-size: 30px;
          font-weight: bolder;
          padding: 5px;
          margin-top: 50px;
          border-radius: 10px;
          box-shadow: 5px 5px 5px rgb(107, 101, 101);
          margin-left: 300px;
      }
    .size{
          color: coral;
          height: 90px;
          width: 360px;
          border: 1px solid rgb(228, 84, 84);
          font-size: 30px;
          font-weight: bolder;
          margin-top: 50px;
          text-align: center;
          border-radius: 10px;
          box-shadow: 5px 5px 5px rgb(107, 101, 101);
          margin-left: 300px;
      }
    .place{
          color: coral;
          height: 90px;
          width: 360px;
          border: 1px solid rgb(228, 84, 84);
          font-size: 30px;
          font-weight: bolder;
          margin-top: 50px;
          text-align: center;
          border-radius: 10px;
          box-shadow: 5px 5px 5px rgb(107, 101, 101);
          margin-left: 300px;
      }
    .pl{
        color: coral;
          height: 90px;
          width: 360px;
          border: 1px solid rgb(228, 84, 84);
          font-size: 30px;
          font-weight: bolder;
          margin-top: 50px;
          text-align: center;
          border-radius: 10px;
          box-shadow: 5px 5px 5px rgb(107, 101, 101);
          margin-left: 300px;
      }
    .pla{
        color: coral;
          height: 90px;
          width: 360px;
          border: 1px solid rgb(228, 84, 84);
          font-size: 30px;
          font-weight: bolder;
          margin-top: 50px;
          text-align: center;
          border-radius: 10px;
          box-shadow: 5px 5px 5px rgb(107, 101, 101);
          margin-left: 300px;
      }
}
@media(max-width:450px){
    .text{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        margin-left: 350px;
        display: inline-block;
    }
    a{
        text-decoration: none;
    }
    .list{
        color: rgb(245, 237, 237);
        font-size: 15px;
        margin-left: 430px;
        margin-top: -72px;
    }
    .circle{
        color: aliceblue;
        background-color: rgb(219, 48, 48);
        width:25px ;
        height: 25px;
        border-radius: 50%;
        margin-left: 510px;
        margin-top: -45px;

    }
    .plus{
        color: rgb(254, 254, 255);
        font-size: 20px;
        margin-left: 7px; 
    }
    .box{
        color: rgb(124, 84, 84);
        font-size: 10px;
        width: 160px;
        height: 30px;
        border: 2px solid rgb(255, 217, 217);
        box-shadow: 3px 3px 3px  grey;
        border-radius: 5px;
        margin-left: 350px;
        margin-top: -10px;
    }
    .size{
        color: rgb(124, 84, 84);
        font-size: 10px;
        width: 160px;
        height: 30px;
       padding: 10px;
        border: 2px solid rgb(255, 217, 217);
        box-shadow: 3px 3px 3px  grey;
        border-radius: 5px;
        margin-left: 350px;
        margin-top: 20px;
    }
    .place{
        color: rgb(124, 84, 84);
        font-size: 10px;
        width: 160px;
        height: 30px;
       padding: 10px;
        border: 2px solid rgb(255, 217, 217);
        box-shadow: 3px 3px 3px  grey;
        border-radius: 5px;
        margin-left: 350px;
        margin-top: 20px;
    }
    .pl{
        color: rgb(124, 84, 84);
        font-size: 10px;
        width: 160px;
        height: 30px;
       padding: 10px;
        border: 2px solid rgb(255, 217, 217);
        box-shadow: 3px 3px 3px  grey;
        border-radius: 5px;
        margin-left: 350px;
        margin-top: 20px;
    }
    .pla{
        color: rgb(124, 84, 84);
        font-size: 10px;
        width: 160px;
        height: 30px;
       padding: 10px;
        border: 2px solid rgb(255, 217, 217);
        box-shadow: 3px 3px 3px  grey;
        border-radius: 5px;
        margin-left: 350px;
        margin-top: 20px;
    }
}


/* pg2 */
.test{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: 50px;
}
.circle1{
    color: aliceblue;
    background-color: rgb(219, 48, 48);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 230px;
    margin-top: 350px;
}
.plus1{
    color: rgb(244, 247, 250);
    font-size: 25px;
    margin-left: 8px;
    margin-top: -25px;
}
.box1{
    color: coral;
    height: 310px;
    width: 220px;
    border: 1px solid rgb(228, 84, 84);
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(107, 101, 101);
    margin-top: -300px;
    margin-left: 50px;
}
.line1{
    width: 165px;
    margin-right: 1px;   
}
.circle2{
    background-color: rgb(219, 48, 48);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: -32px;
}
.material-symbols-outlined{
    color: rgb(247, 238, 238);
    margin-top: 3px;
    margin-left: 2px;
}
.red1{
    color: rgba(241, 66, 66, 0.726);
    font-size: 20px;
    font-weight: bold;
    text-decoration: line-through;
    margin-left: 10px;
}
.check1{
    color: black;
    font-size: 15px;
    margin-top: 5px;
   margin-left: -40px;
}
.page3{
    color: red;
    background-color: rgb(255, 255, 255);
    border: 2px solid red;
    height: 150px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    margin-top: -330px;
    margin-left: 410px; 
}
.button{
    color: white;
    background-color: rgb(216, 27, 27);
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 10px;
}
.apple{
    border-color: rgb(216, 27, 27);
    border-radius: 5px;
}

pg2
    .test{
        font-size: 35px;
        font-weight: bolder;
        margin-left: 80px;
        margin-top: 50px;
    }
    .circle1{
        color: aliceblue;
        background-color: rgb(219, 48, 48);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 230px;
        margin-top: 350px;
    }
    .plus1{
        color: rgb(244, 247, 250);
        font-size: 25px;
        margin-left: 8px;
        margin-top: -25px;
    }
    .box1{
        color: coral;
        height: 310px;
        width: 220px;
        border: 1px solid rgb(228, 84, 84);
        font-size: 25px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(107, 101, 101);
        margin-top: -300px;
        margin-left: 50px;
    }
    .line1{
        width: 165px;
        margin-right: 1px;   
    }
    .circle2{
        background-color: rgb(219, 48, 48);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 30px;
        margin-top: -32px;
    }
    .material-symbols-outlined{
        color: rgb(247, 238, 238);
        margin-top: 3px;
        margin-left: 2px;
    }
    .red1{
        color: rgba(241, 66, 66, 0.726);
        font-size: 20px;
        font-weight: bold;
        text-decoration: line-through;
        margin-left: 10px;
    }
    .check1{
        color: black;
        font-size: 15px;
        margin-top: 5px;
       margin-left: -40px;
    }
    @media (max-width:600px){
    .circle1{
            color: aliceblue;
            background-color: rgb(219, 48, 48);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 150px;
            margin-top: 350px;
        }
        .plus1{
            color: rgb(244, 247, 250);
            font-size: 25px;
            margin-left: 8px;
            margin-top: -25px;
        }
        .box1{
            color: coral;
            height: 310px;
            width: 180px;
            border: 1px solid rgb(228, 84, 84);
            font-size: 25px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgb(107, 101, 101);
           margin-left: 15px;
        }
        .line1{
            width: 125px;
            margin-right: 1px;   
        }
    }
    /* pg3 */
    .page3{
        color: red;
        background-color: rgb(255, 255, 255);
        border: 2px solid red;
        height: 150px;
        width: 300px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        box-shadow: 3px 3px 3px grey;
        margin-top: -200px;
        margin-left: 450px;
    }
    .button{
        color: white;
        background-color: rgb(216, 27, 27);
        width: 60px;
        height: 20px;
        border: none;
        border-radius: 10px;
    }
    .apple{
        border-color: rgb(216, 27, 27);
        border-radius: 5px;
    }

@media(max-width:550px){
    .page3{
        color: red;
        background-color: rgb(255, 255, 255);
        border: 2px solid red;
        height: 120px;
        width: 180px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 3px 3px 3px grey;
        margin-top: -330px;
        margin-left: 410px; 
    }
    .button{
        color: white;
        background-color: rgb(216, 27, 27);
        width: 40px;
        height: 20px;
        border: none;
        border-radius: 10px;
    }
    .apple{
        border-color: rgb(216, 27, 27);
        border-radius: 5px;
    }
}

.prajwal{
    filter: blur(6px);
    margin-left: 400px;
}